name: Build Release App Bundle

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get local.properties from secrets
        run: echo ${{ steps.plan.outputs.stdout }}
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.16.7
      - name: Install dependencies
        run: flutter pub get
      
      - name: Build Android App
        run: flutter build apk
      - name: Upload Android APK
        uses: actions/upload-artifact@v2
        with:
          name: android-debug
          path: build/app/outputs/apk/debug/app-debug.apk
