name: Build Release App Bundle

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get local.properties from secrets
        run: echo ${{ steps.plan.outputs.stdout }}
      - name: Download Android keystore
        id: android_keystore
        uses: timheuer/base64-to-file@v1.0.3
        with:
          fileName: upload-keystore.jks
          encodedString: ${{ secrets.KEYSTORE }}
      - name: Create key.properties
        run: |
            echo "KEYSTORE=${{ steps.android_keystore.outputs.filePath }}" >  $GITHUB_WORKSPACE/key.properties
            echo "SIGNING_STORE_PASSWORD=${{ secrets.SIGNING_STORE_PASSWORD }}" >>  $GITHUB_WORKSPACE/key.properties
            echo "SIGNING_KEY_PASSWORD=${{ secrets.SIGNING_KEY_PASSWORD }}" >>  $GITHUB_WORKSPACE/key.properties
            echo "SIGNING_KEY_ALIAS=${{ secrets.SIGNING_KEY_ALIAS }}" >>  $GITHUB_WORKSPACE/key.properties
      - name: read properties
      - uses: madhead/read-java-properties@latest
        id: version
        with:
          file: key.properties
          property: SIGNING_STORE_PASSWORD
          default: 0.0.1
      - name: print property
        run: echo ${{ steps.version.outputs.value }} # Project
