name: Build Release App Bundle

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get local.properties from secrets
        run: echo ${{ steps.plan.outputs.stdout }}
      - name: Download Android keystore
        id: android_keystore
        uses: timheuer/base64-to-file@v1.0.3
        with:
          fileName: upload-keystore.jks
          encodedString: ${{ secrets.KEYSTORE }}
      - name: Create key.properties
        run: |
            echo "KEYSTORE=${{ steps.android_keystore.outputs.filePath }}" >  $GITHUB_WORKSPACE/key.properties
            echo "SIGNING_STORE_PASSWORD=${{ secrets.SIGNING_STORE_PASSWORD }}" >>  $GITHUB_WORKSPACE/key.properties
            echo "SIGNING_KEY_PASSWORD=${{ secrets.SIGNING_KEY_PASSWORD }}" >>  $GITHUB_WORKSPACE/key.properties
            echo "SIGNING_KEY_ALIAS=${{ secrets.SIGNING_KEY_ALIAS }}" >>  $GITHUB_WORKSPACE/key.properties    
      - name: Check file existence key
        env:
          FILE: key.properties
        shell: bash
        run: |
          if [[ -f $FILE ]]; then
            echo "$FILE exists!"
          else
            echo "$FILE does not exist!"
          fi
      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.16.7
      - name: Install dependencies
        run: flutter pub get
      
      - name: Build Android App Bundle
        run: flutter build appbundle --release
  
  
